::-webkit-details-marker {
	display: none;
}

body {
	background: #F1F1F1;
	margin: 0;
	color: #000;
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

summary:focus {
	outline: none;
}

[contenteditable]:focus {
	outline: none;
}

.inner {
	padding: 0 20px;
}

.inner:after {
	content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.box {
	background: #fff;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.07);
	border-radius: 4px;
	overflow: hidden;
	color: #505050;
	margin-bottom: 25px;
}

.box summary {
	font-size: 14px;
	font-weight: 500;
	padding: 15px;
	color: #000;
	background: #fff;
	transition: 0.5s background;
	position: relative;
}

.box summary:after {
	content: "";
	width: 20px;
	display: inline-block;
	height: 47px;
	background: url(down.svg) no-repeat right center;
	transform: rotate(180deg);
	position: absolute;
	right: 15px;
	top: 0;
}

.box[open] summary {
	border-bottom: 1px solid #EEEEEE;
	box-sizing: border-box;
	background: #F9F9F9;
}

.box[open] summary:after {
	transform: rotate(0deg);
	background-position: left center;
}

.box p {
	font-size: 12px;
	line-height: 23px;
	margin: 0;
}

.box table {
	border-spacing: 0;
	margin-bottom: 20px;
}

.box td {
	display: block;
	padding: 0 15px;
}

.box td:first-child {
	font-weight: 700;
	padding: 30px 15px 17px;
	font-size: 12px;
}

.box tr:first-child td:first-child {
	border-top-color: #EEE;
}

#chest {
	background: #fff;
}

#chest nav {
	display: none;
	padding: 20px;
	border-bottom: 1px solid #F1F1F1;
}

#chest nav a {
	display: block;
	font-size: 14.5px;
	padding: 7px 0;
	margin: 4px 0;
}

#chest nav .current {
	color: #A0A0A0;
}

#chest .inner {
	padding: 0;
}

#chest .inner > a {
	height: 50px;
	width: 70px;
	display: block;
}

#chest .logo {
	float: left;
	background: url( logo.svg ) no-repeat center center;
	background-size: 30px;
}

#chest .toggle {
	float: right;
	text-align: center;
	line-height: 50px;
}

#chest .toggle span {
	display: inline-block;
	vertical-align: middle;
}

#chest .toggle b {
	display: block;
	background: #000;
	height: 2px;
	width: 26px;
	transition: 0.3s all;
}

#chest .toggle b:nth-child(2) {
	margin: 3px 0;
	transition-duration: 0.2s;
}

#chest .toggle.on b:nth-child(1) {
	transform: rotate(45deg);
	margin-bottom: -5px;
}

#chest .toggle.on b:nth-child(2) {
	opacity: 0;
}

#chest .toggle.on b:nth-child(3) {
	transform: rotate(-45deg);
	margin-top: -5px;
}

#title {
	background: #EAEAEA;
}

#title h1 {
	font-weight: 300;
	margin: 0;
	font-size: 20px;
	padding: 31px 20px;
}

#title nav {
	padding: 0 20px;
	text-align: right;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	white-space: nowrap;
}

#title nav a {
	background: #E4E4E4;
	text-align: center;
	color: #7C7C7C;
	font-size: 12px;
	padding: 8px 17px;
	display: inline-block;
	margin: 0 6px;
}

#title nav .current {
	background: #F1F1F1;
	color: #000;
	border-top: 2px solid #E3E3E3;
	border-left: 2px solid #E3E3E3;
}

#title nav a:last-child {
	margin-right: 0;
}

#title nav a:first-child {
	margin-left: 0;
}

#title .inner {
	padding: 0;
}

#content {
	padding: 40px 20px;
}

@media (min-width: 768px) {

	.box {
		margin-bottom: 35px;
	}

	.box[open] summary {
		background: #fff;
		border: 0;
	}

	.box table {
		margin: 0;
	}

	.box td {
		display: table-cell;
		border-top: 1px solid #F6F6F6;
		padding: 0;
	}

	.box td:first-child {
		background: #F6F6F6;
		color: #919191;
		font-size: 13px;
		padding: 20px;
		width: 180px;
		border-color: #EDEDED;
		vertical-align: top;
		text-align: left;
	}

	.box p {
		font-size: 14px;
		padding: 20px;
	}

	#chest .inner > a {
		height: 60px;
	}

	#chest .toggle {
		line-height: 60px;
	}

	#chest nav a {
		font-size: 15.5px;
		padding: 10px 0;
		margin: 6px 0;
	}

	#title .inner {
		position: relative;
	}

	#title h1 {
		padding-top: 38px;
		padding-bottom: 38px;
	}

	#title nav {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	#title nav a {
		padding: 10px 19px;
		font-size: 13px;
		margin: 0 8px;
	}

	#content {
		padding-top: 65px;
	}

}

@media (min-width: 992px) {

	body {
		padding-top: 55px;
	}

	.box {
		border-radius: 2px;
	}

	.box summary {
		cursor: move;
	}

	#chest {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1000;
		border-bottom: 1px solid #E8E8E8;
	}

	#chest nav {
		display: block;
		border: 0;
		padding: 0;
		float: right;
		margin-right: -20px;
	}

	#chest nav a {
		display: inline-block;
		margin: 0;
		font-size: 14px;
		color: #282828;
		line-height: 55px;
		padding: 0 20px;
	}

	#chest nav .current {
		color: #282828;
		background: #EAEAEA;
	}

	#chest .inner .toggle {
		display: none;
	}

	#chest .inner .logo {
		height: 55px;
		background-position: left;
		background-size: 34px;
	}

	#content,
	.inner {
		width: 940px;
		margin: auto;
		padding-left: 0;
		padding-right: 0;
	}

	#title h1 {
		padding: 35px 0;
		font-size: 25px;
	}

	#title nav {
		padding: 0;
	}

}