::-webkit-details-marker {
	display: none;
}

*:focus {
	outline: none;
}

body {
	background: #F1F1F1;
	margin: 0;
	color: #000;
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

input {
	border: 0;
	border-radius: 0;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	background: #F8F8F8;
	-webkit-appearance: none;
	padding: 0;
	margin: 0;
	position: relative;
}

input[type="checkbox"]:after {
	content: "\2713";
	position: absolute;
	font-size: 20px;
	top: -2px;
	left: 2px;
	display: block;
	color: #545454;
	opacity: 0;
}

input[type="checkbox"]:checked:after {
	opacity: 1;
}

select {
	font-size: inherit;
}

[contenteditable]:focus {
	outline: none;
}

.inner {
	padding: 0 20px;
}

.inner:after {
	content: "";
	clear: both;
	display: table;
	visibility: hidden;
}

.box {
	background: #FFF;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.07);
	border-radius: 4px;
	overflow: hidden;
	color: #505050;
	margin-bottom: 25px;
}

.box:last-child {
	margin-bottom: 0;
}

.box summary {
	font-size: 14px;
	font-weight: 500;
	padding: 15px;
	color: #000;
	background: #FFF;
	transition: 0.5s background;
	position: relative;
}

.box summary:after {
	content: "";
	width: 20px;
	display: inline-block;
	height: 47px;
	background: url(up.svg) no-repeat left center;
	transform: rotate(180deg);
	position: absolute;
	right: 15px;
	top: 0;
}

.box[open] summary {
	border-bottom: 1px solid #EEE;
	box-sizing: border-box;
	background: #F9F9F9;
}

.box[open] summary:after {
	transform: rotate(0deg);
	background-position-x: right;
}

.box p {
	font-size: 12px;
	line-height: 23px;
	margin: 0;
}

.box table {
	border-spacing: 0;
	margin-bottom: 20px;
}

.box .fields td {
	display: block;
	padding: 0 15px;
}

.box .fields td:first-child {
	font-weight: 700;
	padding: 30px 15px 17px;
	font-size: 12px;
}

.box .fields tr:first-child td:first-child {
	border-top-color: #EEE;
}

.box .filter {
	width: 100%;
	padding: 15px;
	font-size: 14px;
	margin-bottom: 10px;
	color: #000;
}

.box .filter td {
	padding: 6px 0;
}

.box .filter td:last-child {
	text-align: right;
}

.box .filter select {
	-webkit-appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	color: #949494;
	direction: rtl;
	display: inline-block;
	background: url(down.svg) no-repeat right center;
	padding-right: 20px;
	cursor: pointer;
	background-size: 10px;
}

.box .filter select:hover {
	opacity: .6;
}

.list {
	background: #FFF;
	width: 100%;
	border-spacing: 0;
	text-align: left;
	font-size: 14px;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.07);
	border-radius: 4px;
}

.list td {
	display: none;
	vertical-align: top;
	padding: 15px 0;
}

.list td:first-child {
	padding-left: 15px;
}

.list td:nth-child(1),
.list td:nth-child(2) {
	display: table-cell;
}

.list tbody tr:nth-child(odd) {
	background: #F9F9F9;
}

.list tbody tr:nth-child(odd) input[type="checkbox"] {
	background: #F1F1F1;
}

.list thead td,
.list tfoot td {
	font-weight: 600;
	padding: 11px 0;
	vertical-align: middle;
}

.list tbody tr {
	height: 70px;
}

.list tbody td {
	color: #5E5E5E;
}

.list a {
	color: #17a9ec;
}

.list ul {
	list-style: none;
	margin: 7px 0 0;
	padding: 0;
	font-size: 0;
}

.list li {
	display: inline;
	font-size: 14px;
}

.list li a {
	font-weight: normal;
}

.list li a:hover {
	opacity: .7;
}

.list li:not(:last-child):after {
	content: "\007C";
	color: #0088ff;
	opacity: .5;
	margin: 0 5px;
}

.list .title {
	font-weight: 600;
}

.list .delete a {
	color: #FF4136;
}

#chest {
	background: #fff;
}

#chest nav {
	display: none;
	padding: 20px;
	border-bottom: 1px solid #F1F1F1;
}

#chest nav a {
	display: block;
	font-size: 14.5px;
	padding: 7px 0;
	margin: 4px 0;
}

#chest nav .current {
	color: #A0A0A0;
}

#chest .inner {
	padding: 0;
}

#chest .inner > a {
	height: 50px;
	width: 70px;
	display: block;
}

#chest .logo {
	float: left;
	background: url(logo.svg) no-repeat center center;
	background-size: 30px;
}

#chest .toggle {
	float: right;
	text-align: center;
	line-height: 50px;
}

#chest .toggle span {
	display: inline-block;
	vertical-align: middle;
}

#chest .toggle b {
	display: block;
	background: #000;
	height: 2px;
	width: 26px;
	transition: 0.3s all;
}

#chest .toggle b:nth-child(2) {
	margin: 3px 0;
	transition-duration: 0.2s;
}

#chest .toggle.on b:nth-child(1) {
	transform: rotate(45deg);
	margin-bottom: -5px;
}

#chest .toggle.on b:nth-child(2) {
	opacity: 0;
}

#chest .toggle.on b:nth-child(3) {
	transform: rotate(-45deg);
	margin-top: -5px;
}

#title {
	background: #EAEAEA;
}

#title h1 {
	font-weight: 300;
	margin: 0;
	font-size: 20px;
	padding: 31px 20px;
}

#title nav {
	padding: 0 20px;
	text-align: right;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	white-space: nowrap;
}

#title nav a {
	background: #E4E4E4;
	text-align: center;
	color: #7C7C7C;
	font-size: 12px;
	padding: 8px 17px;
	display: inline-block;
	margin: 0 6px;
}

#title nav .current {
	background: #F1F1F1;
	color: #000;
	border-top: 2px solid #E3E3E3;
	border-left: 2px solid #E3E3E3;
}

#title nav a:last-child {
	margin-right: 0;
}

#title nav a:first-child {
	margin-left: 0;
}

#title .inner {
	padding: 0;
	position: relative;
}

#title .inner > a {
	width: 32px;
	height: 32px;
	background: #E2E2E2;
	color: #B4B4B4;
	display: block;
	border-radius: 100%;
	line-height: 35px;
	text-align: center;
	font-size: 25px;
	position: absolute;
	right: 20px;
	top: calc(50% - 16px);
}

#belly {
	min-height: calc(100vh - 188px);
}

#content {
	padding: 40px 20px;
}

#files {
	margin-top: 35px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#files a {
	display: block;
	overflow: hidden;
	width: 22%;
	position: relative;
	margin-bottom: 4%;
	box-sizing: border-box;
	border: 1px solid #DADADA;
}

#files a:before {
	content: "";
	display: block;
	padding-top: 100%;
}

#files img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#files a:nth-last-child(-n + 4) {
	margin-bottom: 0;
}

#sidebar .box summary:after {
	display: none;
}

#ass {
	background: #ECECEC;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 20px;
	text-align: center;
	margin: 0 20px;
}

#ass .inner {
	padding: 0;
}

#ass a {
	width: 50px;
	height: 50px;
	display: inline-block;
	background: url(logo.svg) no-repeat center center;
	background-size: 100% auto;
	opacity: .1;
}

#ass p {
	color: #AFAFAF;
	font-size: 14px;
}

@media (min-width: 768px) {

	.box {
		margin-bottom: 35px;
	}

	.box p {
		font-size: 14px;
		padding: 20px;
	}

	.box[open] summary {
		background: #fff;
		border: 0;
	}

	.box table {
		margin: 0;
	}

	.box .fields td {
		display: table-cell;
		border-top: 1px solid #F6F6F6;
		padding: 0;
	}

	.box .fields td:first-child {
		background: #F6F6F6;
		color: #919191;
		font-size: 13px;
		padding: 20px;
		width: 180px;
		border-color: #EDEDED;
		vertical-align: top;
		text-align: left;
	}

	.list td:nth-child(3),
	.list td:nth-child(4) {
		display: table-cell;
	}

	.list td:nth-child(4) {
		width: 160px;
	}

	#chest .inner > a {
		height: 60px;
	}

	#chest .toggle {
		line-height: 60px;
	}

	#chest nav a {
		font-size: 15.5px;
		padding: 10px 0;
		margin: 6px 0;
	}

	#title h1 {
		padding-top: 38px;
		padding-bottom: 38px;
	}

	#title nav {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	#title nav a {
		padding: 10px 19px;
		font-size: 13px;
		margin: 0 8px;
	}

	#belly {
		min-height: calc(100vh - 130px);
	}

	#content {
		padding-top: 65px;
		padding-bottom: 65px;
	}

	#files a {
		width: 18%;
		margin-bottom: 2.6%;
	}

	#files a:nth-last-child(-n + 5) {
		margin-bottom: 0;
	}

	#sidebar .box summary {
		background: #F9F9F9;
	}

	#ass a {
		float: left;
		width: 37px;
		height: 30px;
	}

	#ass p {
		float: right;
		text-align: right;
		margin: 0;
		line-height: 30px;
	}

}

@media (min-width: 992px) {

	body {
		padding-top: 55px;
		background-color: #F1F1F1;
		background-image: linear-gradient(#ECECEC, #ECECEC), linear-gradient(#EAEAEA, #EAEAEA);
		background-image: -webkit-linear-gradient(#ECECEC, #ECECEC), -webkit-linear-gradient(#EAEAEA, #EAEAEA);
		background-size: 940px 50%, 100% 50%;
		background-repeat: no-repeat;
		background-position: center bottom, left top;
		background-attachment: fixed;
	}

	.box,
	.list {
		border-radius: 2px;
	}

	.box summary {
		cursor: move;
	}

	.list td {
		display: block;
	}

	.list ul {
		visibility: hidden;
	}

	.list tr:hover ul {
		visibility: visible;
	}

	.columns {
		display: flex;
		justify-content: space-between;
	}

	#chest {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1000;
		border-bottom: 1px solid #EAEAEA;
	}

	#chest nav {
		display: block;
		border: 0;
		padding: 0;
		float: right;
		margin-right: -20px;
	}

	#chest nav a {
		display: inline-block;
		margin: 0;
		font-size: 14px;
		color: #282828;
		line-height: 55px;
		padding: 0 20px;
	}

	#chest nav .current {
		color: #282828;
		background: #EAEAEA;
	}

	#chest .inner .toggle {
		display: none;
	}

	#chest .inner .logo {
		height: 55px;
		background-position: left;
		background-size: 34px;
	}

	#belly {
		min-height: calc(100vh - 125px);
		background: #F1F1F1;
	}

	#files {
		order: 1;
		margin-top: 0;
		width: 590px;
	}

	#files a {
		width: 17%;
		margin-bottom: 3.6%;
	}

	#sidebar {
		order: 2;
		width: 280px;
	}

	#sidebar .box {
		position: sticky;
		position: -webkit-sticky;
		top: 121px;
	}

	#sidebar .box summary {
		cursor: default;
	}

	#content,
	.inner {
		width: 940px;
		margin: auto;
		padding-left: 0;
		padding-right: 0;
	}

	#title h1 {
		padding: 35px 0;
		font-size: 25px;
	}

	#title nav {
		padding: 0;
	}

	#title .inner > a {
		right: 0;
		height: 35px;
		width: 35px;
		top: calc(50% - 17.5px);
		transition: all 0.4s;
	}

	#title .inner > a:hover {
		background: #D8D8D8;
		color: #9E9E9E;
		transform: rotate(180deg);
	}

	#ass {
		padding: 0;
		margin: 0;
		background: #F1F1F1;
		border-radius: 0;
	}

	#ass .inner {
		background: #ECECEC;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		padding: 20px;
		box-sizing: border-box;
	}

}