<details class="box" open>
	<summary>Friends</summary>
	<table class="fields">
		<tr>
			<td>Subtitle</td>
			<td>
				<p contenteditable="true" spellcheck="false">Our friends will never be forgotten</p>
			</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>
				<p contenteditable="true" spellcheck="false">Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Nullam id nibh vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</td>
		</tr>
	</table>
</details>

<details class="box" open>
	<summary>Companies</summary>
	<table class="fields">
		<tr>
			<td>Subtitle</td>
			<td>
				<p contenteditable="true" spellcheck="false">What are they doing?</p>
			</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>
				<p contenteditable="true" spellcheck="false">Yeah. It's right. We haven't did much in the last years. But even without telling what they did, I'm able to tell you what I didn't do. It's mostly about paranormal activity regarding Supernatural. I know, it's a show. But since it's not one of those shows which are working on the right without being a human, it's cool.<br><br>So please tell me, where to find it!</p>
			</td>
		</tr>
	</table>
</details>

<details class="box" open>
	<summary>About us</summary>
	<table class="fields">
		<tr>
			<td>Subtitle</td>
			<td>
				<p contenteditable="true" spellcheck="false">We're cool. But not too cool.</p>
			</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>
				<p contenteditable="true" spellcheck="false">Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Nullam id nibh vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</td>
		</tr>
	</table>
</details>

<details class="box" open>
	<summary>Other companies</summary>
	<table class="fields">
		<tr>
			<td>Subtitle</td>
			<td>
				<p contenteditable="true" spellcheck="false">Oh yeah, companies are shitty</p>
			</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>
				<p contenteditable="true" spellcheck="false">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.<br><br>Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor.</p>
			</td>
		</tr>
	</table>
</details>