<form method="post">
  <input type="text" name="username" placeholder="Username" autocomplete="off" autofocus="true" autocapitalize="none">
  <input type="password" name="password" placeholder="Password" autocomplete="off">

  <button type="submit">Login</button>
</form>

<a href="/login/reset-password">?</a>
