<aside>

  <details class="box" open>
    <summary>Analytics</summary>
    <article class="visits">

      <aside>
        <span>250</span>
        <span>150</span>
        <span>50</span>
      </aside>

      <section>
        <span style="height: 140px" data-date="20 May '15"></span>
        <span style="height: 70px" data-date="20 May '15"></span>
        <span style="height: 76px" data-date="20 May '15"></span>
        <span style="height: 190px" data-date="20 May '15"></span>
        <span style="height: 30px" data-date="20 May '15"></span>
        <span style="height: 200px" data-date="20 May '15"></span>
        <span style="height: 70px" data-date="20 May '15"></span>
      </section>

    </article>
  </details>

  <details class="box" open>
    <summary>Analytics</summary>
    <article class="empty">
      <p>Sadly, this site didn't had any visitors yet.</p>
    </article>
  </details>

</aside>

<aside>

  <details class="box" open>
    <summary>Recently updated</summary>
    <table class="updated">
      <tr>
        <td><a href="#">Development</a></td>
        <td>20min</td>
      </tr>
      <tr>
        <td><a href="#">Home</a></td>
        <td>23min</td>
      </tr>
      <tr>
        <td><a href="#">Who are we?</a></td>
        <td>1h</td>
      </tr>
    </table>
  </details>

  <details class="box" open>
    <summary>Recently updated</summary>
    <article class="empty">
      <p>You haven't edited any pages until this point.</p>
    </article>
  </details>

</aside>
