<form action="/admin" method="post" name="login">
	<input type="text" name="username" placeholder="Username" autocomplete="off">
	<input type="password" name="password" placeholder="Password" autocomplete="off">

	<button type="submit">Login</button>
</form>

<a href="/forgotten">?</a>