<form {{action "login" on="submit"}}>

	{{input placeholder="Username" autocomplete="off" value=username}}
	{{input type="password" placeholder="Password" autocomplete="off" value=password}}

	<button type="submit">Login</button>

</form>

<a href="/forgotten">?</a>