<header id="chest">
	<div class="inner">

		<nav>
			{{#link-to "dashboard"}}Dashboard{{/link-to}}
			<a href="#">Pages</a>
			<a href="#">Posts</a>
			<a href="#">Media</a>
			<a href="#">Settings</a>
		</nav>

		<a href="#" class="logo" {{action "logout"}}></a>

		{{#toggle-nav}}
			<span>
				<b></b>
				<b></b>
				<b></b>
			</span>
		{{/toggle-nav}}

	</div>
</header>

<main id="belly">

	<aside id="title">

		<div class="inner">
			<h1>Test</h1>
		</div>

	</aside>

	<section id="content" class="columns equal">
		{{partial base}}
	</section>

</main>

<footer id="ass">

	<div class="inner">
		<a href="http://muff.in" target="_blank"></a>
		<p>You're using Muffin 1.0.0, thank you!</p>
	</div>

</footer>
