<form {{action "login" on="submit"}} class={{loginStatus}}>

	{{input placeholder="Username" autocomplete="off" value=username autofocus="true"}}
	{{input type="password" placeholder="Password" autocomplete="off" value=password}}

	<button type="submit">Login</button>

</form>

<a href="/forgotten">?</a>