<aside id="sidebar">

	<details class="box" open>
		<summary>Filter</summary>
		<table class="filter">
		
			<tr>
				<td>Dates:</td>
				<td>
					<select>
						<option selected>All</option>
						<option>September 2015</option>
						<option>October 2015</option>
					</select>
				</td>
			</tr>

			<tr>
				<td>File type:</td>
				<td>
					<select>
						<option selected>All</option>
						<option>Image</option>
						<option>Video</option>
						<option>Document</option>
						<option>Audio</option>
					</select>
				</td>
			</tr>

		</table>
	</details>

</aside>

<ul id="files">

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

	<li>
		<a href="#">
			<img src="test.png">
		</a>
	</li>

</ul>
